* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "hiragino-mincho-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
}
.header {
    position: relative;
}
.header img {
    width: 100%;
    height: auto;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    padding: 0px 10px;
    left: 0;
    right: 0;
}
.header__title {
    font-size: 1.4vw;
}
.header__nav ul {
    list-style-type: none;
    display: flex;
}
.header__nav ul li {
    margin-left: 50px;
}
.header__nav ul li a {
    
    text-decoration: none;
    color: black;
}


h3 {
    text-align: right;
    color: #56889B;
}

.introduction {
    display: grid;
    place-items: center;
    
}
.introduction-text {
    word-break: break-all;
}
 h2 {
    text-align: center;
    font-family: "sheila", sans-serif;
    font-size: 5.7vw;
    font-weight: 400;
    font-style: normal;
}
.introduction p {

    text-align: center;
}
.sub{
    text-align: center;
    color: #9E8846;
}
.introduction h3 {
    text-align: right;
}
.concept-main {
    display: grid;
    place-items: center; 
}
.concept-inner {
    display: flex;
    width: 84%;
}
.concept-left {
    width: 50%;
}
.concept-right {
    width: 50%;
}
.concept-left img{
    width: 100%;

}
.concept-right p{
    word-break: break-all;
    padding-left: 8%;
}
.concept-right h3 {
    text-align: right;
}
.contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    background-color: #E2DBD2;
    aspect-ratio: 1244/340;
    outline: 1px solid rgb(0, 0, 0);
	outline-offset: -1vw;
}

.contact-this {
    font-size: 1.2vw;
    color: #897777;
}
.contact-frame {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 4.6vw;
}
.contact-us {
    font-size: 1.6vw;
}
.contact-frame h3{
    font-size: 1.7vw;
    text-align: center;
}
.footer {
    background-color: #000;
    aspect-ratio: 1920/320;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    padding: 0px 10px;
    left: 0;
    right: 0;
}
.footer-title img {
    fill: #fff;
}

.footer__title {
    font-size: 1.4vw;
}
.footer__nav ul {
    list-style-type: none;
    display: flex;
}
.footer__nav ul li {
    margin-left: 50px;
}
.footer__nav ul li a {
    
    text-decoration: none;
    color: white;
}